<div class="mostPopular">
    <div class="contaner bg-light">
        <div class="container">
                    <div class="row ">
            <div class="col-12-md p-1  ">
                <h2 id="mostPopular-h2" class="p-2">Most Popular</h2>
                <div class="line"></div>
                
            </div>
           </div>            
    
           <div class="row ">
               <div class="col-12-md">
                <div class="categories p-5">

                    <div class="cart active" data-name="all">All</div> 
                    <div class="cart" data-name="shoe">Shoe</div> 
                    <div class="cart" data-name="wares">Wares</div> 
                    <div class="cart" data-name="computer">computer</div> 
                    <div class="cart" data-name="phone">Phones</div> 
                    <div class="cart" data-name="electronic">electronic</div> 
                    <div class="cart" data-name="electronic">Fashion</div> 
                    <div class="cart" data-name="electronic">Kitchen</div> 
                    <div class="cart" data-name="electronic">Supermarket</div> 
                
            </div>
                      
               </div>
           </div>
        </div>

        <div class="addProduct_container">
        <div class="row  add-con">
            
            
            <% products.forEach(product => { %>
           
        
                <a href="/product/<%= product.slug %> ">
                    <div class="card">
                        <div class="card-img img-responsive">
                            <img src="../../img/productImg/<%= product.productImg[0].filename %> " alt="<%= product.productImg[0].filename %>">
                        </div>
                        <div class="card-box">

                            <div class="card-title">
                                <h2><%= product.productName.length > 20 ? product.productName.substr(0, 20) + ".... " : product.productName  %>  </h2>
                            </div>
                            <div class="card-star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="card-body">
                                <p>&#8358;<%= product.price %> </p>
                                
                                
                            </div>
                            </div>
                        
                        
                            
                   
                </a>
                    
                    
                    
                    
                </div>
                    <% }) %>
         
        
                </div>
            </div>
        
    
        </div>
      
</div>