<div class="mostPopular">
    <div class="container bg-light">
        <div class="row ">
            <div class="col-12-md p-1  ">
                <h2 id="mostPopular-h2" class="p-2">Most Popular</h2>
                <div class="line"></div>
                
            </div>
           </div>            
    
           <div class="row ">
               <div class="col-12-md">
                <div class="categories p-5">

                    <div class="cart active" data-name="all">All</div> 
                    <div class="cart" data-name="shoe">Shoe</div> 
                    <div class="cart" data-name="wares">Wares</div> 
                    <div class="cart" data-name="computer">computer</div> 
                    <div class="cart" data-name="phone">Phones</div> 
                    <div class="cart" data-name="electronic">electronic</div> 
                    <div class="cart" data-name="electronic">Fashion</div> 
                    <div class="cart" data-name="electronic">Kitchen</div> 
                    <div class="cart" data-name="electronic">Supermarket</div> 
                
            </div>
                      
               </div>
           </div>
            

        <div class="row  add-con m-5 gap-2 justify-center">
            
            <div class="col-xs-12 col-6-sm col-3-md  col-2-xl">
                <% products.forEach(product => { %>
     
        
                    <div class="card">
                        <a href="/product/<%= product.slug %> ">
                        <div class="card-img img-responsive">
                            <img src="../../img/productImg/<%= product.productImg[0].filename %> " alt="<%= product.productImg[0].filename %>">
                            <div class="card-title">
                                <h2><%= product.productName %> </h2>
                            </div>
                            <div class="card-body">
                                <p>&#8358;<%= product.price %> </p>
                                <button class=" btn">Add to cart</button>

                            </div>
                        </div>
                        
                        
                            
                        </a>
                        
                    </div>
                    
                    
                    
                    
                    <% }) %>
                </div>
            <div class="col-xs-12 col-6-sm col-3-md  col-2-xl">
                <% products.forEach(product => { %>
     
        
                    <div class="card">
                        <a href="/product/<%= product.slug %> ">
                        <div class="card-img img-responsive">
                            <img src="../../img/productImg/<%= product.productImg[0].filename %> " alt="<%= product.productImg[0].filename %>">
                            <div class="card-title">
                                <h2><%= product.productName %> </h2>
                            </div>
                            <div class="card-body">
                                <p>&#8358;<%= product.price %> </p>
                                <button class=" btn btn-secondary">Add to cart</button>

                            </div>
                        </div>
                        
                        
                            
                        </a>
                        
                    </div>
                    
                    
                    
                    
                    <% }) %>
                </div>
            <div class="col-xs-12 col-6-sm col-3-md  col-2-xl">
                <% products.forEach(product => { %>
     
        
                    <div class="card">
                        <a href="/product/<%= product.slug %> ">
                        <div class="card-img img-responsive">
                            <img src="../../img/productImg/<%= product.productImg[0].filename %> " alt="<%= product.productImg[0].filename %>">
                            <div class="card-title">
                                <h2><%= product.productName %> </h2>
                            </div>
                            <div class="card-body">
                                <p>&#8358;<%= product.price %> </p>
                                <button class=" btn btn-secondary">Add to cart</button>

                            </div>
                        </div>
                        
                        
                            
                        </a>
                        
                    </div>
                    
                    
                    
                    
                    <% }) %>
                </div>
            <div class="col-xs-12 col-6-sm col-3-md  col-2-xl">
                <% products.forEach(product => { %>
     
        
                    <div class="card">
                        <a href="/product/<%= product.slug %> ">
                        <div class="card-img img-responsive">
                            <img src="../../img/productImg/<%= product.productImg[0].filename %> " alt="<%= product.productImg[0].filename %>">
                            <div class="card-title">
                                <h2><%= product.productName %> </h2>
                            </div>
                            <div class="card-body">
                                <p>&#8358;<%= product.price %> </p>
                                <button class=" btn btn-secondary">Add to cart</button>

                            </div>
                        </div>
                        
                        
                            
                        </a>
                        
                    </div>
                    
                    
                    
                    
                    <% }) %>
                </div>
            <div class="col-xs-12 col-6-sm col-3-md  col-2-xl">
                <% products.forEach(product => { %>
     
        
                    <div class="card">
                        <a href="/product/<%= product.slug %> ">
                        <div class="card-img img-responsive">
                            <img src="../../img/productImg/<%= product.productImg[0].filename %> " alt="<%= product.productImg[0].filename %>">
                            <div class="card-title">
                                <h2><%= product.productName %> </h2>
                            </div>
                            <div class="card-body">
                                <p>&#8358;<%= product.price %> </p>
                                <button class=" btn btn-secondary">Add to cart</button>

                            </div>
                        </div>
                        
                        
                            
                        </a>
                        
                    </div>
                    
                    
                    
                    
                    <% }) %>
                </div>
            <div class="col-xs-12 col-6-sm col-3-md  col-2-xl">
                <% products.forEach(product => { %>
     
        
                    <div class="card">
                        <a href="/product/<%= product.slug %> ">
                        <div class="card-img img-responsive">
                            <img src="../../img/productImg/<%= product.productImg[0].filename %> " alt="<%= product.productImg[0].filename %>">
                            <div class="card-title">
                                <h2><%= product.productName %> </h2>
                            </div>
                            <div class="card-body">
                                <p>&#8358;<%= product.price %> </p>
                                <button class=" btn btn-secondary">Add to cart</button>

                            </div>
                        </div>
                        
                        
                            
                        </a>
                        
                    </div>
                    
                    
                    
                    
                    <% }) %>
                </div>
            <div class="col-xs-12 col-6-sm col-3-md  col-2-xl">
                <% products.forEach(product => { %>
     
        
                    <div class="card">
                        <a href="/product/<%= product.slug %> ">
                        <div class="card-img img-responsive">
                            <img src="../../img/productImg/<%= product.productImg[0].filename %> " alt="<%= product.productImg[0].filename %>">
                            <div class="card-title">
                                <h2><%= product.productName %> </h2>
                            </div>
                            <div class="card-body">
                                <p>&#8358;<%= product.price %> </p>
                                <button class=" btn btn-secondary">Add to cart</button>

                            </div>
                        </div>
                        
                        
                            
                        </a>
                        
                    </div>
                    
                    
                    
                    
                    <% }) %>
                </div>
            <div class="col-xs-12 col-6-sm col-3-md  col-2-xl">
                <% products.forEach(product => { %>
     
        
                    <div class="card">
                        <a href="/product/<%= product.slug %> ">
                        <div class="card-img img-responsive">
                            <img src="../../img/productImg/<%= product.productImg[0].filename %> " alt="<%= product.productImg[0].filename %>">
                            <div class="card-title">
                                <h2><%= product.productName %> </h2>
                            </div>
                            <div class="card-body">
                                <p>&#8358;<%= product.price %> </p>
                                <button class=" btn btn-secondary">Add to cart</button>

                            </div>
                        </div>
                        
                        
                            
                        </a>
                        
                    </div>
                    
                    
                    
                    
                    <% }) %>
                </div>
            <div class="col-xs-12 col-6-sm col-3-md  col-2-xl">
                <% products.forEach(product => { %>
     
        
                    <div class="card">
                        <a href="/product/<%= product.slug %> ">
                        <div class="card-img img-responsive">
                            <img src="../../img/productImg/<%= product.productImg[0].filename %> " alt="<%= product.productImg[0].filename %>">
                            <div class="card-title">
                                <h2><%= product.productName %> </h2>
                            </div>
                            <div class="card-body">
                                <p>&#8358;<%= product.price %> </p>
                                <button class=" btn btn-secondary">Add to cart</button>

                            </div>
                        </div>
                        
                        
                            
                        </a>
                        
                    </div>
                    
                    
                    
                    
                    <% }) %>
                </div>
            <div class="col-xs-12 col-6-sm col-3-md  col-2-xl">
                <% products.forEach(product => { %>
     
        
                    <div class="card">
                        <a href="/product/<%= product.slug %> ">
                        <div class="card-img img-responsive">
                            <img src="../../img/productImg/<%= product.productImg[0].filename %> " alt="<%= product.productImg[0].filename %>">
                            <div class="card-title">
                                <h2><%= product.productName %> </h2>
                            </div>
                            <div class="card-body">
                                <p>&#8358;<%= product.price %> </p>
                                <button class=" btn btn-secondary">Add to cart</button>

                            </div>
                        </div>
                        
                        
                            
                        </a>
                        
                    </div>
                    
                    
                    
                    
                    <% }) %>
                </div>
            <div class="col-xs-12 col-6-sm col-3-md  col-2-xl">
                <% products.forEach(product => { %>
     
        
                    <div class="card">
                        <a href="/product/<%= product.slug %> ">
                        <div class="card-img img-responsive">
                            <img src="../../img/productImg/<%= product.productImg[0].filename %> " alt="<%= product.productImg[0].filename %>">
                            <div class="card-title">
                                <h2><%= product.productName %> </h2>
                            </div>
                            <div class="card-body">
                                <p>&#8358;<%= product.price %> </p>
                                <button class=" btn btn-secondary">Add to cart</button>

                            </div>
                        </div>
                        
                        
                            
                        </a>
                        
                    </div>
                    
                    
                    
                    
                    <% }) %>
                </div>
            <div class="col-xs-12 col-6-sm col-3-md  col-2-xl">
                <% products.forEach(product => { %>
     
        
                    <div class="card">
                        <a href="/product/<%= product.slug %> ">
                        <div class="card-img img-responsive">
                            <img src="../../img/productImg/<%= product.productImg[0].filename %> " alt="<%= product.productImg[0].filename %>">
                            <div class="card-title">
                                <h2><%= product.productName %> </h2>
                            </div>
                            <div class="card-body">
                                <p>&#8358;<%= product.price %> </p>
                                <button class=" btn btn-secondary">Add to cart</button>

                            </div>
                        </div>
                        
                        
                            
                        </a>
                        
                    </div>
                    
                    
                    
                    
                    <% }) %>
                </div>
  
    
            
             </div>
      
            </div>
        
    
        </div>
      
</div>