<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%-title%></title>
</head>
<body>
   
    <img src=".././/img/productImg/<%= product[0].productImg[0].filename %>" alt="<%= product[0].productImg[0].filename %>" id="show_img" class="product-img">
    <h2><%= product[0].productName %> </h2>
    <p><%= product[0].price %> </p>
    <p><%= product[0].size %> </p>
    <p><%- product[0].description %> </p>
</body>
</html>




